@{
    ViewData["Title"] = "Consulta Agenda Profissional";

}

<h1>@ViewData["Title"]</h1>


<br>
<br>

<style>
    
th {
    text-align: center;
    background-color: #EEEE00;
}

    

</style>

<table class="table table-bordered">

    <tr>
        <th>Profissional</th>
        <th>Endereço</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Data</th>
        <th>Horário início</th>
        <th>Horário Término</th>
    </tr>


    @{foreach (var item in (List<ProfissionalAgendaModel>)ViewBag.listaProfissionalAgenda)
        {
            <tr style="text-align:center" >
                <td>@item.ProfissionalNome</td>
                <td>@item.ProfissionalEndereco</td>
                <td>@item.ProfissionalBairro</td>
                <td>@item.ProfissionalCidade</td>
                <td>@item.Data</td>
                <td>@item.HoraInicio</td>
                <td>@item.HoraFim</td>
            </tr>
        }
    }

</table>


<script>

    function Novo(){

        window.location.href = "../ProfissionalAgenda/Cadastrar";

    }

    function Atualizar(id){

        window.location.href = "../ProfissionalAgenda/Cadastrar/" + id;
        
    }

    function Excluir(id){

        window.location.href = "../ProfissionalAgenda/Excluir/" + id;
        
    }

</script>