@{
    ViewData["Title"] = "Consulta Agenda Profissional";

}

<style>

    th {
            text-align: center;

    }

</style>

<h1 align="center">@ViewData["Title"]</h1>

<br>


<table class="table table-striped">

    <tr>
        <th>Profissional</th>
        <th>Endereço</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Data</th>
        <th>Horário início</th>
        <th>Horário Término</th>
    </tr>


    @{foreach (var item in (List<ProfissionalAgendaModel>)ViewBag.listaProfissionalAgenda)
        {
            <tr style="text-align:center" >
                <td>@item.ProfissionalNome</td>
                <td>@item.ProfissionalEndereco</td>
                <td>@item.ProfissionalBairro</td>
                <td>@item.ProfissionalCidade</td>
                <td>@item.Data</td>
                <td>@item.HoraInicio</td>
                <td>@item.HoraFim</td>
            </tr>
        }
    }

</table>


<script>
    

</script>