@{
    ViewData["Title"] = "Profissional";

}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-block btn-primary" onclick="Novo()">Novo</button>
<br>
<br>

<style>
    
th {
    text-align: center;
    background-color: #EEEE00;
}

    

</style>

<table class="table table-bordered">

    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Especialidade</th>
        <th>#</th>
        <th>#</th>
    </tr>


    @{foreach (var item in (List<ProfissionalModel>)ViewBag.listaProfissional)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cpf</td>
                <td>@item.Telefone</td>
                <td>@item.Endereco</td>
                <td>@item.Bairro</td>
                <td>@item.ProfissionalCidadeNome</td>
                <td>@item.ProfissionalEstadoNome</td>
                <td>@item.EspecialidadeId</td>
                <td align="center"><button type="button" class="btn btn-block btn-outline-warning" onclick = "Atualizar(@item.Id.ToString())">Editar</button></td>
                <td align="center"><button type="button" class="btn btn-block btn-outline-danger" onclick = "Excluir(@item.Id.ToString())">Excluir</button></td>
            </tr>
        }
    }

</table>


<script>

    function Novo(){

        window.location.href = "../Profissional/Cadastrar";

    }

    function Atualizar(id){

        window.location.href = "../Profissional/Cadastrar/" + id;
        
    }

    function Excluir(id){

        window.location.href = "../Profissional/Excluir/" + id;
        
    }

</script>