@{
    ViewData["Title"] = "Agenda Profissional";

}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-block btn-primary" onclick="Novo()">Novo</button>
<br>
<br>

<style>
    
th {
    text-align: center;
    background-color: #EEEE00;
}

    

</style>

<table class="table table-bordered">

    <tr>
        <th>Profissional</th>
        <th>Data</th>
        <th>Horário início</th>
        <th>Horário Término</th>
        <th>#</th>
        <th>#</th>
    </tr>


    @{foreach (var item in (List<ProfissionalAgendaModel>)ViewBag.listaProfissionalAgenda)
        {
            <tr>
                <td>@item.ProfissionalId</td>
                <td>@item.Data</td>
                <td>@item.HoraInicio</td>
                <td>@item.HoraFim</td>
                
                <td align="center"><button type="button" class="btn btn-block btn-outline-warning" onclick = "Atualizar(@item.Id.ToString())">Editar</button></td>
                <td align="center"><button type="button" class="btn btn-block btn-outline-danger" onclick = "Excluir(@item.Id.ToString())">Excluir</button></td>
            </tr>
        }
    }

</table>


<script>

    function Novo(){

        window.location.href = "../ProfissionalAgenda/Cadastrar";

    }

    function Atualizar(id){

        window.location.href = "../ProfissionalAgenda/Cadastrar/" + id;
        
    }

    function Excluir(id){

        window.location.href = "../ProfissionalAgenda/Excluir/" + id;
        
    }

</script>